/*
 * Custom CSS
 */

:root {
  /*  --bs-body-bg: #b51111; */
  --bs-box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: 'Apple Chancery';
  src: url('fonts/AppleChancery.woff2') format('woff2'),
       url('fonts/AppleChancery.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


body {
  margin: 0px;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#invite-wrapper {
  background-color: #b51111;
  padding: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#invite {
  font-family: 'Apple Chancery', cursive;
  /*  
  font-family: cursive;
  font-family: "Charm", cursive;
  font-family: "Carattere", cursive;
  font-family: "Dancing Script", cursive;
  font-family: 'Times New Roman', Georgia, Garamond, serif;
  font-family: Georgia, Garamond, serif;
  font-family: Garamond, serif;
  */
  font-weight: normal;
  font-style: normal;

  /*
  background-image: url('images/red-paper-texture-260nw-1320594170.webp');
  background-size: cover;
  */

  border-image: url('images/border.svg') round;
  border-image-slice: 33%;
  border-image-width: 10em;
  border-image-repeat: stretch;

  text-align: center;
  white-space: nowrap;

  font-size: 2vw;

  padding-bottom: 1em;
  padding-top: 1em;
}

#invite {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 1em;
}


#invite > * {
  align-self: center;
  justify-self: center;
}


/* Desktop */
@media screen  {
  /* <row-start> / <column-start> / <row-end> / <column-end> */
  .left   { grid-area: 1 / 1 / 4 / 2; padding: 0}
  .right  { grid-area: 1 / 3 / 4 / 4; padding: 0}
  .top    { grid-area: 1 / 2 / 2 / 3; }
  .middle { grid-area: 2 / 2 / 3 / 3; }
  .bottom { grid-area: 3 / 2 / 4 / 3; }
  .footer { grid-area: 4 / 1 / 5 / 4; }
}


/* Mobile */
@media screen and (max-width: 480px) {
  /* <row-start> / <column-start> / <row-end> / <column-end> */
  .left   { grid-area: 2 / 1 / 3 / 2; }
  .right  { grid-area: 2 / 3 / 3 / 4; }
  .top    { grid-area: 1 / 1 / 2 / 4; }
  .middle { grid-area: 2 / 2 / 3 / 3; }
  .bottom { grid-area: 3 / 1 / 4 / 4; }
  .footer { grid-area: 4 / 1 / 5 / 4; }

  #invite {
    grid-template-columns: 100px 1fr 100px;
    font-size: 2.5vw;
  }
}

#invite a {
  color: inherit;
  text-decoration: underline #f3eaa740;

}

#invite a:hover {
  text-decoration: underline #f3eaa780;
}

sup {
  font-size: 0.5em;
}

.top {
  padding: 1em;

  margin-left: -10vw;
  margin-right: -10vw;
}

.middle {
  padding: 1em;
  padding-bottom: 0;

  /* Allow the middle to spill into the sides if they need to */
  
  margin-left: -5vw;
  margin-right: -5vw;
}

.bottom {
  margin-left: -5vw;
  margin-right: -5vw;
}

.footer {
  padding: 1em;
  padding-top: 0;
}

#invite button {
  margin: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
}

.pillayar_suli {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  background: linear-gradient(to right, #c1ac51, #f7eead, #c1ac51); 
  clip-path: url('#pillayar_suli');
}

.gold { 
  color: #f3eaa7;

  background: linear-gradient(to right bottom, #c1ac51, #f7eead, #c1ac51);
}

.gold-text {
  color: transparent;
  background-clip: text;

  -webkit-background-clip: text;
} 

.divider {
  font-family: serif;
  padding: 1em;
}

.tiny {
  font-size: 0.8em;
  line-height: 1.2;
}

.small {
  font-size: 1em;
  line-height: 1.2;
}

.normal {
  font-size: 1.1em;
  line-height: 1.2;
}

.medium {
  font-size: 2em;
  line-height: 1.2;
}

.large {
  font-size: 3em;
  line-height: 1.2;
}

.larger {
  font-size: 4.5em;
  line-height: 1.2;
}


.fancy {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}


.btn {
  color: #ffc107;

  border: 1px solid #ffc107;
  border-radius: 8px;
  background-color: transparent;

  padding: 0.5rem 1rem;
  font-size: 1.25rem;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  cursor: pointer;
}

.btn:hover {
    color: #000000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.shine {
  position: relative;
  overflow: hidden;
}

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.shine:active:after {
  opacity: 0;
}
