<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>You are invited!</title>

    <style>
      .btn {
        color: #ffc107;
        border: 1px solid #ffc107;
        border-radius: 8px;
        background-color: #b51111;
        padding: 0.5rem 1rem;
        box-shadow:
          0 8px 16px 0 rgb(0 0 0 / 20%),
          0 6px 20px 0 rgb(0 0 0 / 19%);
        cursor: pointer;

        display: inline-block;

        margin: 0.5em;
        font-size: 2em;
        font-family: "Times New Roman", serif;
      }

      p {
        margin: 0.2em;
      }

      body {
        font-family: Verdana;
      }

      table {
        background-color: #b51111;
        color: #fee1a9;
      }

      img {
        max-width: 100%;
        display: block;
        white-space: pre;
        text-align: center;
      }

      .small {
        font-size: 0.8em;
      }

      .normal {
        font-size: 1.2em;
      }

      .medium {
        font-size: 2em;
        font-family: cursive;
      }

      .big {
        font-size: 3.5em;
        font-family: cursive;
      }

      .large {
        font-size: 3.5em;
      }

      table a {
        color: #fee1a9;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <center>
      <p class="small">
        (Having trouble viewing this email?<br />

        @@if (parents === 'friends') {
        <a
          href="https://www.ninaandandrew.com/invite.html?primary_guest={Primary Guest Name}"
          >View on the web here</a
        >)} @@if (parents === 'amma') {
        <a
          href="https://www.ninaandandrew.com/invite-amma.html?primary_guest={Primary Guest Name}"
          >View on the web here</a
        >)} @@if (parents === 'appa') {
        <a
          href="https://www.ninaandandrew.com/invite-appa.html?primary_guest={Primary Guest Name}"
          >View on the web here</a
        >)}
      </p>

      <table width="100%" height="100%">
        <tr>
          <td width="100%" height="100%" bgcolor="#b51111">
            <center>
              <p class="large">{External Names},</p>
              <p>
                We're excited to celebrate our wedding with you! Please
                <a
                  href="https://www.ninaandandrew.com/?primary_guest={Primary Guest Name}#rsvp"
                  style="color: #fee1a9; text-decoration: none"
                >
                  RSVP
                </a>
                by 23<sup>rd</sup> June 2024.
              </p>

              <a
                href="https://www.ninaandandrew.com/?primary_guest={Primary Guest Name}#rsvp"
              >
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-00.png"
                />
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-01.png"
                  alt="Sri Ramajayam"
                  class="small"
                />

                <!-- One of the following -->
                @@if (parents === 'friends') {
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-02.png"
                  alt="Vimala & Partha"
                  class="medium"
                />
                } @@if (parents === 'amma') {
                <img
                  src="https://www.ninaandandrew.com/invite/invite-amma-400-0-1.png"
                  alt="Papoos & Kanna"
                  class="medium"
                />
                } @@if (parents === 'appa') {
                <img
                  src="https://www.ninaandandrew.com/invite/invite-appa-400-0-1.png"
                  alt="Vimala & Kanna"
                  class="medium"
                />
                }
                <!-- End -->

                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-03.png"
                  alt="cordially invite you to the wedding of their daughter"
                />

                <!-- Whitespace matters in the alt text, so don't indent it -->
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-04.png"
                  alt="Nina Partha
and
Andrew Brampton"
                  class="big"
                />
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-05.png"
                  alt="son of Barbara & Michael"
                />

                <!-- Optionally include Ceremony -->
                @@if (ceremony === true) {
                <img
                  src="https://www.ninaandandrew.com/invite/invite-amma-400-0-3.png"
                  alt="Ceremony on
Friday, 23rd August 2024
at
Shiva-Vishnu Temple
Livermore, CA, USA"
                  class="medium"
                />
                }
                <!-- End -->

                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-06.png"
                  alt="Reception on
Sunday, 25th August 2024
at
Casa Real at Ruby Hill
Pleasanton, CA, USA"
                  class="medium"
                />
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-07.png"
                  alt="━━━━━━ ◦ ◈❖◈ ◦ ━━━━━━"
                />
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-08.png"
                  alt="With best compliments from
Mira, Vijaya & Sampath, and Kamala Srinivasan
Jayanthi & Raghavan, Deepa & Narayan, Vidyadhar, and Neerja
Suparna & Arun, Manisha, and Vikram"
                  class="small"
                />
                <img
                  src="https://www.ninaandandrew.com/invite/invite-400-00-09.png"
                />
              </a>

              <div class="btn">
                <a
                  href="https://www.ninaandandrew.com/?primary_guest={Primary Guest Name}#rsvp"
                  style="color: #fee1a9; text-decoration: none"
                >
                  RSVP
                </a>
              </div>
              <br />
              <br />
            </center>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
